<sidebar 
	items="
	[{
		clickTarget: '/',
		clickCaption: '',
		pillTarget: '0',
		navType: '0',
		icon: 'img/cloud.png',
	},
	{
		clickTarget: 'home',
		clickCaption: 'Home',
		pillTarget: '1',
		navType: '1',
		icon: 'glyphicon glyphicon-home',
	},
	{
		clickTarget: 'blog',
		clickCaption: 'Blog',
		pillTarget: '2',
		navType: '1',
		icon: 'glyphicon glyphicon-pencil',
	},
	{
		clickTarget: 'settings',
		clickCaption: 'Settings',
		pillTarget: '3',
		navType: '1',
		icon: 'glyphicon glyphicon-cog',
	}]
	">
</sidebar>
<h1>Blog</h1>